
/**
 * The text could use some tweaks.
 */

.md {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.md h1, .md h2, .md h3 {
  display: inline-block;
  color: #ddd;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0px;
}

.md li {
  margin: 1px 0;
}

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md ul, .md p {
  margin: -5px;
}

/**
 * Actually, let's make it even nicer. 
 */


.md h1 {
  margin-bottom: 3px;
}
 
.md h4 {
  margin-bottom: -20px;
  color: #FFF;
  border-bottom: 0px;

}

.md h5 {
  margin-top: -15px;
  margin-bottom: -15px;
  color: #ff0000;
}
 
.md p {
  margin-top: -10px;
  margin-bottom: -10px;
}


/**
 * That's better.
 *
 * Now let's add my skillsets here... 
 */

#skills-text {
  font-size: 12px;
  color: #;
}

#skills-text.flipped {
  -webkit-transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#skills-text .md {
  -webkit-transform: rotateY(190deg) rotateZ(180deg);
  margin-top: 900px;
}

/**
 * And, let's update them. 
 */